html, body, header, nav, h1, a,
ul, ol, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}

/* ul, ol {
  list-style: none;
} */

img {
  display: block;
  width: 100%;
  height: auto;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {

  -webkit-appearance: none;
  -moz-appearance: none;
}

button,
input[type="submit"] {
  cursor: pointer;
}


/*  */

body {
  display: grid;
  grid-template-columns: 300px 1fr 300px;
  grid-template-rows: 60px 60px 1fr;
  background-color: #a0db8e;
}

h1 {
  grid-column: 2;
  grid-row: 1;
  text-align: center;
  font-size: 50px;
  padding: 20px;
}

form {
  grid-column: 1;
  grid-row: 2;
  padding: 20px;

  font-size: 16px;
  font-style: italic;
}

select {
  padding: 20px;
  height: 40px;
  width: 100%;
}

div.display {
  grid-column: 1 / span 2;
  grid-row: 3;
  border: 1px red solid;
  height: 100px;
  margin-top: 20px;
  margin-left: 20px;
}
